/* <system section="theme" selected="8599973812300391699"> */
@import url("https://hatenablog.com/theme/8599973812300391699.css");
/* </system> */

/* <system section="background" selected="pattern-09"> */
body{ background-image: url('/images/theme/backgrounds/2014/pattern-09.png'); background-repeat: repeat; background-attachment: scroll; background-position: 0 0; }
/* </system> */

/*サイドバータブメニュー*/
.tab {
    display: block;
    float: left;
    width: calc(25% - 1px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    font-size: 12px;
    color: #444;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.tab:last-child {
    border-right: 1px solid #ccc;
    width: calc(25% - 2px);
    }
.active {
    background-color: #fff;
    border-bottom: 1px solid white;
}
.hatena-module-title2 {
    margin-bottom: 10px;
}

/*はてな目次のデザイン*/
ul.table-of-contents {
    border: 1px solid #ccc;
    padding: 1.2em 1em 1em 2em;
    margin: 0.5em 0 2em 0;
    position: relative;
    background-color: #fff;
  border-radius: 3px;
}
ul.table-of-contents:before {
    content: "Index";
    display: inline-block;
    position: absolute;
    top: -0.6em;
    left: 0.5em;
    background: #fff;
    padding: 0 0.5em;
    font-weight: 700;
    color: #ccc;
}
.table-of-contents ul ul{
    display: none;/*3層目（h4）見出しを消す*/
}
.table-of-contents li,
.table-of-contents ul{
    list-style-type: none;/*表示一時的に消す*/
}
ul.table-of-contents li:before {
  content: "▼"; /*記号に変更*/
  color: #b0d7fd;
  padding-right: 0.5em;
  font-size: 80%;
  vertical-align: text-top;
}
  }
.table-of-contents ul{
    font-size: 95%;/*2層目（h3）以降小さく*/
}
.table-of-contents a{
    color:#444;
    text-decoration: none;
}
.table-of-contents a:hover {
  color: #ccc ;/* リンクにマウスを重ねた時の色 */
  text-decoration: underline;
}


/*jquery目次のデザイン*/
.table-of-contents{
    display: none;
}
.show-area{
    display: inline-block;
    font-size:0.7em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0;
    color: #4f96f6;
}

/* 記事下部シェアボタン */
.pc-share{
  display: table;
  width: 100%;
  margin: 1.5em 0 1.5em 0;
}
.share-text{
  width: 32%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #3a3a3a;
  color: white;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 1.3em;
}
.share-btns{
  width: 68%;
  display: table-cell;
  background: #ececec;
  letter-spacing: -0.29em;
}
.share-btns a{
  display: inline-block;
  width: 25%;
  height: 52px;
  padding: 4px 0;
  line-height:2;
  text-align:center;
  color: #fff;
  font-size:1.6em;
}
.share-btns .share-hatena{
  background-color:#00a5de;
}
.share-btns .share-facebook{
  background-color:#3B5998;
}
.share-btns .share-twitter{
  background-color:#55acee;
}
.share-btns .share-pocket{
  background-color:#ef3f56;
}
.share-btns a:hover, .follow-btns a:hover{
  opacity:0.5;
}
.share-btns a i, .follow-btns a i{
  padding-right:0.2em;
}




/*記事一覧サムネイルサイズ*/
.page-archive .entry-thumb {
    width: 150px;
    height: 150px;
    background-size: cover;
    float: left;
    margin-right: 1em;
}


/*--ヨメレバ・カエレバ（レスポンシブ）--*/

.booklink-box, .kaerebalink-box {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #eee;
  overflow: hidden;
  font-size: 12px;
  border-radius: 2px;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box
}

.booklink-image, .kaerebalink-image {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 16px
}

.booklink-image img, .kaerebalink-image img {
  display: block;
  margin: 0 auto;
  text-align: center
}

.kaerebalink-image img {
  box-shadow: none
}

.booklink-info, .kaerebalink-info {
  line-height: 120%;
  overflow: visible
}

.booklink-name, .kaerebalink-name {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 5px;
  line-height: 1.5
}

.booklink-name a, .kaerebalink-name a {
  margin-bottom: 12px
}

.booklink-powered-date, .kaerebalink-powered-date {
  font-size: 8pt;
  margin-top: 10px;
  line-height: 120%
}

.booklink-detail, .kaerebalink-detail {
  font-size: 8pt;
  margin-bottom: 3px;
  text-align: center
}

.booklink-link2, .kaerebalink-link1 {
  margin-top: 16px;
  text-align: center;
  font-size: 0;
  letter-spacing: 0
}

.shoplinkamazon, .shoplinkkakakucom, .shoplinkkindle, .shoplinkrakuten, .shoplinkyahoo {
  width: 25%;
  min-width: 150px;
  overflow: hidden;
  border-radius: 4px;
  display: inline-block;
  margin: 4px .5% 8px 4px;
  text-align: center;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1rem
}
.booklink-link2 a,
.kaerebalink-link1 a{
    width:90%;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    margin:5px 2px 0 0;
    padding:10px 1px;
    text-align:center;
    float:left;
    text-decoration:none;
    font-weight:800;
    font-size:1em;
    color: #fff !important;
}
.booklink-link2 a:hover,
.kaerebalink-link1 a:hover{opacity: 0.6;}
.booklink-link2 a:active
.kaerebalink-link1 a:active{
    position:relative;
    top:1px;
}

/*ボタンを変えるときはここから*/
.shoplinkamazon a{color:#333 !important;border: 1px solid #333 !important;}
.shoplinkrakuten a{color:#c20004 !important;border: 1px solid #c20004 !important;}
.shoplinkkindle a{color:#007dcd !important;border: 1px solid #007dcd !important;}
.shoplinkkakakucom a{color:#314995 !important;border: 1px solid #314995;}
.shoplinkyahoo a{color:#7b0099 !important;border: 1px solid #7b0099 !important;}
/*ここまでを変更*/

.booklink-footer {
  clear: left
}

@media screen and (max-width:580px) {
  .shoplinkamazon, .shoplinkkakakucom, .shoplinkkindle, .shoplinkrakuten, .shoplinkyahoo {
    width: 44%
  }
  .shoplinkamazon a, .shoplinkkakakucom a, .shoplinkkindle a, .shoplinkrakuten a, .shoplinkyahoo a {
    font-size: 12px
  }
  .booklink-box, .kaerebalink-box {
    width: 95%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box
  }
  .booklink-link2, .kaerebalink-link1 {
    margin-top: 4px
  }
}


/* 吹き出しのCSS　*/
.entry-content .l-fuki,
.entry-content .r-fuki {
	position: relative;
	width: 80%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px;
	border-radius: 6px;
	border: 2px solid #999;
	box-shadow: 1px 1px 5px #aaa;
	background-color: #fff;
	z-index: 1;
}
.entry-content .l-fuki {
	margin: 20px 20% 40px 0;
}
.entry-content .r-fuki {
	margin: 20px 0 40px 19%;
}
.entry-content .l-fuki::before,
.entry-content .r-fuki::before {
	position: absolute;
	content: "";
	top: 16px;
	width: 10px;
	height: 10px;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	background-color: #fff;
	z-index: 2;
}
.entry-content .l-fuki::before {
	right: -7px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.entry-content .r-fuki::before {
	left: -7px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.entry-content .l-fuki::after,
.entry-content .r-fuki::after {
	position: absolute;
	content: "";
	width: 80px;
	height: 80px;
	top: -10px;
	border-radius: 50%;
	border: 1px solid #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 5px #aaa;
}
.entry-content .l-fuki::after {
	right: -110px;
}
.entry-content .r-fuki::after {
	left: -110px;
}
@media screen and (max-width: 620px) {
	.entry-content .l-fuki,
	.entry-content .r-fuki {
		width: 70%
	}
	.entry-content .l-fuki {
		margin-right: 30%;
	}
	.entry-content .r-fuki {
		margin-left: 30%;
	}
}
@media screen and (max-width: 478px) {
	.entry-content .l-fuki::after,
	.entry-content .r-fuki::after {
		width: 60px;
		height: 60px;
		border-radius: 30px;
	}
	.entry-content .l-fuki::after {
		right: -84px;
	}
	.entry-content .r-fuki::after {
		left: -84px;
	}
}
/* 吹き出し元の画像指定（複数人物の時はクラスを増やす）　*/
.me::after {background-image:url(https://cdn1.www.st-hatena.com/users/ga/ganapati55/profile.gif?1495523892);}
.me::after {background-image:url(https://cdn1.www.st-hatena.com/users/ga/ganapati55/profile.gif?1495523892L);}

/* 左への吹き出し元の画像の下に人物名　*/
.dscmel::after {
	position: absolute;
	content: "ganapati";/* 人物名　*/
	width: 80px;
	height: 30px;
	top: 5em;
	text-align: center;
	right: -7em;
}
/* 右への吹き出し元の画像の下に人物名　*/
.dscmer::after {
	position: absolute;
    content: "ganapati";/* 人物名　*/
    width: 80px;
    height: 30px;
    top: 5em;
    text-align: center;
    left: -7em;
}


/* ページトップへ戻るボタン */
 #pagetop {
    position:fixed;
    bottom:40px;
    right:1px;
    padding:10px 18px;
    color:#fff;
    font-size:20px;
    text-decoration:none;
    background:#666;
}

/* ページトップへ戻るボタン：ホバー時 */
#pagetop:hover {
    background:#000;
}


/* --人気記事 タイトル 文字の大きさ-- */
.urllist-title-link {
 font-size: 1em;
}
/* 人気記事 日付デザイン */
.urllist-date-link{
 font-weight:700;
 margin:5px 5px;
}
 
.urllist-date-link a{
 color: #ffffff !important; /*日付の文字色*/
 background: #999;/*日付の背景色*/
 padding: 0px 10px;/*日付の文字まわりのスペース*/
}
  
/* 人気記事リストなどの ボーダー */
.hatena-urllist>li {
  border-bottom: 1px dashed #dcdcdc;
}
.recommend-content {
  margin: 15px 10px 15px 1px;
  font-size:14px;
}
.recommend {
  position: relative;
  border: 1px solid #333;
  margin: 30px 5px;
}
.recommend-title {
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 0px 5px;
}
.hatena-module-entries-access-ranking .urllist-with-thumbnails .urllist-item .urllist-image {
  width: 75px; /*画像の縦幅*/
  height: 75px; /*画像の横幅*/
  border-radius: 0em; 
  border: solid 1px #dcdcdc; /*画像の枠線*/
}

/*****波線h1見出し*****/
.entry-content h1 {
    font-size: 1.7rem;
    background-color: transparent;
    background-image: url(https://img.f.hatena.ne.jp/images/fotolife/g/ganapati55/20171006/20171006163510.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    background-size: 50px 10px;
    text-align: center;
    padding-bottom: 0.8em;
}
　
/* 強調表示を蛍光ペン（水色）風に */
.entry-content strong{
	background: -webkit-linear-gradient(transparent 60%, #81DAF5 60%)!important;
	background: -o-linear-gradient(transparent 60%, #81DAF5 60%)!important;
	background: linear-gradient(transparent 60%, #81DAF5 60%)!important;
}

/* bタグは太字 */
article b{
    font-weight:bold !important;
}


/* みたままM斜体を蛍光ペン（黄）風に */
article em{
    font-weight:bold;
    font-style: normal;
    margin:0 0.1em;
    padding:0.1em 0.2em;
    background:#fcfc60 !important;
    background:linear-gradient(to bottom, transparent 70%, rgba(252,252,84,0.8) 70%) !important;
}
/* iタグ手入力は斜体*/
article i{
    font-style:oblique !important;
}

/* マークダウンでアンダーライン指定を蛍光ペン（赤）風に */
article u{
    font-weight:bold;
    text-decoration: none;
    margin:0 0.1em;
    padding:0.1em 0.2em;
    background:#fcfc60 !important;
    background:linear-gradient(to bottom, transparent 70%, #ff9999 70%) !important;
}



/* 記事一覧最初の画像・文字を大きく */
.page-index .archive-entry:first-of-type .entry-thumb {
    width: 20vw;
    height: 13vw;
    min-width: 150px;
    min-height: 120px;
    margin-bottom: 1em;
    background-size: cover;
    background-position: center center; 
}
.page-index .archive-entry:first-of-type .entry-title {
    font-size: 1.8em !important;
    line-height: 1.5;
    }
    
.page-index .archive-entry:first-of-type .entry-title:after {
      content: "⇐#New!!";
    color: #977d3b;
    font-size: 1rem;
    padding: 0.5rem;
}

/*サイドバーカテゴリ表示を並べる*/
.hatena-module-category .hatena-urllist li {
    display: table-cell;
    padding: 6px 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    border: 1px dashed #999;
    float: left;
}

/*はてなブログを始めよう非表示*/
.guest-footer-content{
    display: none;
}


/*** 3カラム化（左右サイドバー） ***/
/* Media Queries -wide */
@media (min-width: 1400px) {

#container {
  width: 100%;
}
#content-inner {
  position:relative;
}
#container #content-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1520px;
    display: block;
}
#wrapper {
  margin-left: 350px;
 z-index: 100;
  position: relative;
}

#main {
    width: calc(100% - 350px);
    float: left;
}

#box2 {
  width:100%;
  max-width:1520px;
  position: absolute;
  left: 0;
  right: 0;
}
.hatena-module {
  width: 300px;
}

/* はてなモジュール_奇数（左） */
.hatena-module:nth-child(2n + 1) {
  margin-left:10px;
  float: right;
  clear: right;
}

/* はてなモジュール_偶数（右） */
.hatena-module:nth-child(2n) {
  margin-left:10px;
  margin-right: auto;
}

/* パン屑リスト中央へ */
#top-box {
    text-align: center;
    }
    
}
/* スマホ1カラムで左サイドは表示しない */
/* Media Queries - Small Tablet & Smartphone */
@media (max-width: 767px) {
.hatena-module:nth-child(2n) {
  display:none;
}
}



/*-------------*/
/*  追尾する目次  */
/*-------------*/
#stoc {
  overflow-y: auto;
}
#stoc ol {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type:square ;
}
#stoc > ol {
    padding-left: 1.5em;
    list-style-type: decimal;
}
#stoc a {
  padding: 2px 2px 2px 0px;
  display: block;
  text-decoration-line: none;
  /*transition-duration: 0s;*/
}
#stoc a:hover {
  background-color: #efefef;
  text-decoration-line: underline;
  /*border-bottom: 0;*/
}
#stoc .active {
  background-color: #efefef;
}
#stoc::-webkit-scrollbar {
  width: 8px;
  background: #ececec;
}
#stoc::-webkit-scrollbar-button {
  display: none;
}
#stoc::-webkit-scrollbar-thumb {
  background: #b1b1b1;
}
#stoc-module {
  backface-visibility: hidden;
}
#stoc-module.fade-in {
  animation: fadeIn 300ms;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
/* 初期位置以外の時 */
#stoc-module.tracking {
  margin-bottom: 0;
  /*padding-bottom: 0;*/
  /*border-bottom: 0;*/
}
/*
#stoc-module.fixed {
}
#stoc-module.absolute {
}
*/
/*
#bottom-editarea {
  display: none;
}
*/

.archive-header-category .archive-heading {
    margin-bottom: .5em;
    margin-top: 5px;
    font-size: 1.5rem;
    border-bottom: solid 2px #977d3b;
}

.archive-header-category .archive-heading::before  {
	font-family: FontAwesome;
    content: "\f115";
}


.archive-header-category .archive-heading::after  {
    position: relative;
	content: " に関する記事一覧";
    font-size: 1.2rem;
}


/* タイトル画像 */
#blog-title {
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/g/ganapati55/20171225/20171225135512.png"); /* PC用タイトル背景画像 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;/* 中央寄せ */
    height: 225px;/* 表示したい画像の高さ */
    margin: 0;
    padding: 0;
    top: 0;
    overflow-x: hidden;
}
   
@media screen and (max-width: 1024px) {
/* 1024pxまでの幅のサイズ */
      #blog-title {
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/g/ganapati55/20171225/20171225135517.png"); /* スマホ用タイトル背景画像1 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;/* 中央寄せ */
    height: 150px;/* 表示したい画像の高さ */
    margin: 0;
    padding: 0;
    top: 0;
    overflow-x: hidden;
          
    }
}
#title,#title a {
   display:none;
}
#blog-description {
    display:none;
}