@charset "utf-8";
/*
  Theme: Focus
  Author: ganapati55
  Description:
  3カラム表示可能なはてなブログテーマです。ただし、カスタムCSSやフッタHTMLへ専用のコード挿入が必要です。
  Responsive: yes
  Licensed under the MIT license. 
  This theme is based on "SOHO".
*/
/*  import normalize */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}
/*  import mixin */
.clearfix {
  display: block;
  *zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*  import variable */
/* memo 
maincolor  #454545
*/
/* Common */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
  color: #454545;
  font-size: 16px;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 767px){
  html,body {
    color: #454545;
    font-size: 14px;
  }
}
a {
  color: #4f96f6;
  -webkit-transition: all .3s;
  transition: all .3s;
}
a:visited {
  color: #92c6f3;
}
a:hover {
  color: #454545;
  -webkit-transition: all .3s;
  transition: all .3s;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #111;
  text-decoration: none;
}
a.keyword {
  text-decoration: none;
  border-bottom: 1px dotted #dddddd;
  color: #454545;
}
/* Buttons */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #454545;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.btn:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
.btn-small {
  padding: 2px 10px !important;
  font-size: 11px !important;
}
.btn-large {
  padding: 13px 19px;
  font-size: 17px;
  line-height: normal;
  font-weight: bold;
}
/* ヘッダ（グローバルヘッダ）
  グローバルヘッダの中はiframeですが、
  #globalheader-container に背景色や文字色を指定することでiframeの中にも色が反映されます。
*/
#globalheader-container {
  background-color: #fff;
  color: #666;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
/* container */
#container {
  width: 100%;
  overflow: hidden;
}

#container #content {
  padding-top: 40px;
  border-top: 1px solid #977d3b;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
}
#container #content-inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1050px;
  display: block;
  *zoom: 1;
}
#container #content-inner:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
/* 2カラムレイアウト */
#main {
  width: 680px;
  float: left;
}
#box2 {
  width: 320px;
  float: right;
}
@media screen and (max-width: 1120px){
  #container #content-inner {
    max-width: 920px;
  }
  #main {
    width: 580px;
  }
}
@media screen and (max-width: 980px) {
  #container #content {
    padding: 30px 14px;
  }
  #container #content-inner {
    max-width: initial;
  }
  #main {
    width: 100%;
    float: none;
  }
  #box2 {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 767px) {
  #container #content {
    padding: 20px 10px;
  }
}
/* header */
#blog-title {
  margin: 0;
  padding: 80px 0 60px;
  text-align: center;
}
#title {
  margin: 0;
  font-size: 1.8rem;
}
#title a {
  color: #111;
}
#blog-description {
  font-weight: normal;
  font-size: 0.9rem;
  color: #666;
  margin: 16px auto 0 auto;
  max-width: 80%;
}
@media (max-width: 767px) {
  #blog-title {
    padding: 30px 0;
  }
  #title {
    font-size: 1.5rem;
  }
  #blog-description {
    margin-top: 8px;
  }
}
/* ヘッダ画像を設定したとき */
.header-image-enable #container,
.header-image-only #container {
  padding-top: 0;
}
.header-image-enable #blog-title,
.header-image-only #blog-title {
  padding: 0;
}
.header-image-enable #title {
  
}
.header-image-enable #blog-title #blog-title-inner,
.header-image-only #blog-title #blog-title-inner {
  height: auto;
  min-height: 240px;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* background-size: cover;
  background-position: center center !important; */
  position: relative;
}

.header-image-enable #blog-title-content {
  text-align: center;
}

.header-image-enable #blog-title #title a {
  display: inline-block;
  padding: 20px 30px;
  color: #fff;
  background-color: rgba(0,0,0,.8);
  text-shadow: 0 0 0 rgba(0,0,0,0);
}
.header-image-enable #blog-title #blog-description {
  display: inline-block;
  width: auto;
  max-width: 60%;
  margin: 14px auto 0;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(0,0,0,.8);
  text-shadow: 0 0 0 rgba(0,0,0,0);
}
@media (max-width: 767px) {
  .header-image-enable #blog-title #blog-title-inner,
  .header-image-only #blog-title #blog-title-inner {
    background-position: center center !important;
    background-size: cover;
    min-height: 180px;
    padding: 40px 0 40px;
  }
  .header-image-enable #blog-title #blog-description {
    max-width: 80%;
  }
}
#top-editarea {
  background-color: #fff;
  /*padding-bottom: 20px;*/
}
/* パンくず（カテゴリーページで表示されます） */
#top-box {
  padding: 10px auto 20px;
  font-size: 90%;
  background-color: #f7f8f9;
}
#top-box .breadcrumb {
  padding: 10px 2em;
  margin-bottom: 0px;
  border-top: solid 0.5px #dcdcdc;
}


}
#top-box .breadcrumb-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1050px;
}

@media screen and (max-width: 1120px) {
  #top-box .breadcrumb-inner {
    max-width: 920px;
  }
}
@media screen and (max-width: 980px) {
  #top-box .breadcrumb-inner {
    max-width: initial;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 14px;
  }
}
/* entry */
.entry {
  position: relative;
  margin-bottom: 100px;
}
.entry-header {
  padding: 0 0 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.entry-title {
  margin: 0;
  line-height: 1.3;
  font-size: 2rem;
  text-align: center;
}
/* 日付 */
.date {
  font-family: 'Helvetica', 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif;;
  font-weight: bold;
  margin-bottom: 24px;
}
.date a {
  color: #888;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
}
.date a::before {
    margin-right: 1px;
    font-family: 'blogicon';
    content: '\f043';
}
@media screen and (max-width: 767px){
  .date {
    margin-bottom: 18px;
  }
  .date a {
    padding: 2px 6px;
  }
}
/* カテゴリ */
.categories {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}
.categories a {
    color: #fff;
    margin-right: 8px;
    padding: 0.3em 0.5em;
    text-decoration: none;
    font-size: 80%;
    border-radius: 5px;
    /* border-bottom: 1px solid #ddd; */
    background-color: #4eacd1;
}
.categories a::before {
  content: "#";
}
.categories.no-categories {
  margin: 0;
}
/* 「編集する」ボタン */
.entry-header-menu {
  position: absolute;
  bottom: 0px;
  left: -60px;
}
.entry-header-menu a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #454545;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.entry-header-menu a:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
/* entry-content の中の書式 */
.entry-content {
  line-height: 1.7;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
.entry-content p {
  margin: 0 0 1em 0;
}
@media screen and (max-width: 767px) {
  .entry-content p {
    font-size: 1.04rem;
  }
}
.entry-content img {
  max-width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.entry-content img:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,.4);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.entry-content .sh-shadow img {
  box-shadow: 0 4px 12px rgba(0,0,0,.2);
}
@media screen and (max-width: 767px) {
  .entry-content .sh-shadow img {
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
  }
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 54px 0 0.8em 0;
  color: #111;
  line-height: 1.5;
}
.entry-content h1 {
  font-size: 1.6rem;
}
.entry-content h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid #111;
  padding-left: 0.2em;
}

.entry-content h3 {
  font-size: 1.4rem;
  padding: 0.3em 0.6em;
  border-left: 5px solid #111;
  margin-top: 40px;
}
.entry-content h4 {
    font-size: 1.2rem;
    position: relative;
    padding: 0.3em 0.4em;
    border-left: solid 2em #4f4f4f;
    border-bottom: 0.5px dashed #4f4f4f;
}
.entry-content h4:before {
    font-family: FontAwesome;
    content: "\f040";
    position: absolute;
    padding: 0em;
    color: white;
    font-weight: normal;
    left: -1.35em;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.entry-content h5 {
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  top: 0;
  padding: .25em 1em;
  line-height: 1.4
}

.entry-content h5:before, .entry-content h5:after {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 8px;
  height: 100%;
  content: ""
}

.entry-content h5:before {
  left: 0;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black
}

.entry-content h5:after {
  right: 0;
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  content: ""
}
.entry-content h6 {
  position: relative;
  font-size: 1.1rem;
  padding-left: 18px;
  margin-top: 36px;
}
.entry-content h6::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #111;
  margin-top: -4px;
}


@media (max-width: 767px){
  .entry-content h1 {
    font-size: 1.6rem;
  }
  .entry-content h2 {
    font-size: 1.5rem;
  }
  .entry-content h3 {
    font-size: 1.4rem;
  }
  .entry-content h4 {
    font-size: 1.3rem;
  }
  .entry-content h5 {
    font-size: 1.2rem;
  }
}
.entry-content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
}
.entry-content table img {
  max-width: none;
}
.entry-content table th,
.entry-content table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
}
.entry-content table th {
  background: #f5f5f5;
}
.entry-content blockquote {
  border: 1px solid #dddddd;
  margin: 0 0 10px;
  padding: 20px;
}
.entry-content blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}
.entry-content pre {
  border: 1px solid #dddddd;
  margin: 0 0 10px;
  padding: 20px;
  white-space: pre;
}
.entry-content pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: 0;
  background: transparent;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content code {
  font-size: 90%;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
}
.entry-content .hatena-asin-detail li {
  line-height: 1.4;
}
/* entry-footer */
.entry-footer {
  margin-top: 10px;
}
.entry-footer-section {
  font-size: 80%;
  color: #999999;
    display: none;
}
.entry-footer-section a {
  color: #999999;
}

.social-buttons,
.entry-footer-html {
  margin: 10px 0;
}
/* コメント */
.comment-box ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 95%;
  line-height: 1.7;
}
.comment-box li {
  padding: 10px 0 10px 60px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.comment-box li:first-child {
  border-top: 1px solid #dddddd;
}
.comment-box .read-more-comments {
  padding-left: 0;
}
.comment-box .hatena-id-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px !important;
  height: 50px !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 3px;
  background-clip: padding-box;
}
.comment-user-name {
  margin: 0 0 10px 0;
  font-weight: bold;
}
.comment-content {
  font-size: 90%;
  margin: 0 0 10px 0;
  word-wrap: break-word;
}
.comment-content p {
  margin: 0 0 10px 0;
}
.comment-metadata {
  font-size: 80%;
  color: #999999;
  margin: 0;
}
.comment-metadata a {
  color: #999999;
}
.leave-comment-title {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100% ;
  padding: 1em 0;
  margin-bottom: 0;
  line-height: 18px;
  color: #454545;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}
.leave-comment-title:hover {
  background-color: #f5f5f5;
  text-decoration: none !important;
}
@media screen and (max-width: 767px) {
  .comment-content {
    font-size: 0.94rem;
    position: relative;
    padding: 16px;
    background-color: #eee;
    border-radius: 6px;
    z-index: 1;
    color: #111;
  }
  .comment-content::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 16px;
    border: 8px solid transparent;
    border-right-color: #eee;
  }
  .comment-box ul {
    line-height: 1.5;
  }
  .comment-box .hatena-id-icon {
    top: 26px;
  }
}
.entry-content .entry-see-more {
  display: block;
  padding: 6px 0;
  background-color: #eee;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #111;
  font-weight: bold;
}
.entry-content .entry-see-more:hover {
  background-color: #ccc;
}
.entry-content .entry-see-more::after {
  font-family: "blogicon";
  content: "\f006";
  font-size: .8rem;
  margin-left: 10px;
}
/* SOHOタイプ目次 */
.table-of-contents {
  margin: 0;
  padding: 20px 20px 20px 40px;
  background-color: #f0f0f0;
  border-radius: 6px;
  font-size: .9rem;
}
.table-of-contents ul {
  padding-left: 30px;
}
@media (max-width: 767px) {
  .table-of-contents {
    font-size: 1rem;
  }
}
/* sidebar */
#box2 {
  
}
.hatena-module {
  margin-bottom: 60px;
}
.hatena-module-title {
  font-weight: bold;
  margin-bottom: 15px;
  padding: 8px 0;
  font-size: 1rem;
  text-align: center;
  color: #111;
  border-bottom: 2px solid #977d3b;
  background: repeating-linear-gradient(-45deg, #f7f7f7, #f7f7f7 6px, #fff 4px, #fff 10px);
}
.hatena-module-title a {
  color: #111;
  text-decoration: none;
}
.hatena-module-title a:hover {
  text-decoration: underline;
}
/* Profile module */
.hatena-module-profile .profile-icon {
  float: left;
  margin: 0 10px 10px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 5px;
  background-clip: padding-box;
}
.hatena-module-profile .id {
  display: block;
  font-weight: bold;
  font-size: .9rem;
  margin-bottom: 5px;
}
.hatena-module-profile .profile-description {
  font-size: .9rem;
}
@media (max-width: 767px) {
  .hatena-module-profile .profile-description {
    font-size: 1rem;
  }
}
.hatena-module-profile .profile-description p {
  margin-top: 0;
}
/* urllist module
    リンク・最新記事・最近のコメント・月別アーカイブ・カテゴリモジュールは .hatena-urllist という共通の class が振られます
*/
.hatena-urllist {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.hatena-urllist li {
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: .9rem;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .hatena-urllist li {
    font-size: 1rem;
  }
}
.hatena-urllist li a {
  text-decoration: none;
}
.hatena-urllist li .urllist-category-link {
  color: #999;
}
.hatena-urllist li .urllist-category-link::before {
  content: '#';
  margin-right: -2px;
}

.urllist-title-link {
  font-size: .9rem;
}
/* Search module */
.hatena-module-search-box .search-form {
  border: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 3px;
  background-clip: padding-box;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.hatena-module-search-box .search-module-input {
  padding: 5px;
  color: #454545;
  background: none;
  border: none;
  outline: none;
  height: 20px;
  width: 90%;
}
.hatena-module-search-box .search-module-button {
  width: 20px;
  height: 20px;
  background: transparent url(https://blog.hatena.ne.jp/images/theme/search.png) no-repeat right center;
  border: none;
  outline: none;
  text-indent: -9999px;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.5;
}
.hatena-module-search-box .search-module-button:hover {
  opacity: 0.85;
}
/* Pager */

.pager {
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	display: block;
	*zoom: 1;
	color: #001e43;
}
.pager:after {
	display: block;
	visibility: hidden;
	font-size: 0;
	height: 0;
	clear: both;
	content: "."
}
.pager a {
	color: #001e43;
	display: block;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis
}
.pager .pager-next, .pager .pager-prev {
	display: block;
	min-height: 2em;
    background: -webkit-repeating-linear-gradient(-45deg, #eee, #eee 5px, #fff 5px, #fff 10px);
	background: repeating-linear-gradient(-45deg, #eee, #eee 5px, #fff 5px, #fff 10px);
	text-decoration: none;
	width: 40%;
	padding: 0 2%;
	line-height: 2em
}
.pager .pager-next:hover, .pager .pager-prev:hover {
	border: 1px solid #977d3b;
	color: #001e43;
    background: #fff;
}
.pager .pager-prev {
	text-align: center;
	float: left
}
.pager .pager-next {
	text-align: center;
	float: right
}
.adx-responsive-mode {
  margin: 0;
  padding: 20px 0;
}
/* Footer */
#footer {
  padding: 40px 0 60px;
  text-align: center;
  background-color: #f0f0f0;
  line-height: 1.5;
  font-size: 80%;
}
#footer p {
  margin: 0;
}
#footer a {

}
/* About ページ */
.page-about dt {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 5px;
}
.page-about dd {
  margin-left: 0;
  margin-bottom: 30px;
}
/* archive ページ */

.page-archive .archive-entries .archive-entry {
  margin: 1em 0 2em 0;
  padding: 1em 0 2em 0;
  border-bottom: 1px solid #ccc;
}
}
.page-archive .archive-entries .date {
  margin-bottom: 12px;
text-align: center;
}
.page-archive .archive-entries .entry-title {
  font-size: 130%;
  margin: 0 0 .5em;
}
.page-archive .archive-entries .categories {
  margin: 0 0 .5em;
}
.page-archive .archive-entries .entry-description {
  margin: 0 0 1em;
  line-height: 1.7em;
  font-size: 95%;
}
.page-archive .categories a {
  color: #fff;
  font-size: 80%;
  background: #4eacd1;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 2px;
} 


/* グローバルナビ */
.sh-global-nav-wrap {
  position: relative;
  z-index: 50;
}
.sh-global-nav {
  width: 100%;
}
.sh-global-nav-list {
  font-size: 0;
  letter-spacing: 0;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.sh-global-nav-list .sh-global-nav-item {
  position: relative;
  font-size: 1.3rem;
  display: inline-block;
  border-right: 1px solid #eee;
  padding: 0 16px;
  height: 30px;
  line-height: 30px;
  z-index: 3;
}
.sh-global-nav-list .sh-global-nav-item:last-child {
  border-right: none;
}
.sh-global-nav-list .sh-global-nav-item a {
  position: relative;
  text-decoration: none;
  color: #111;
}
.sh-global-nav-list .sh-global-nav-item a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #111;
  height: 1px;
  width: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.sh-global-nav-list .sh-global-nav-item a:hover:after {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.sh-global-nav-list .has-child {
  padding-right: 28px;
}
.sh-global-nav-list .has-child::after {
  position: absolute;
  right: 8px;
  top: 14px;
  content: '';
  border: 4px solid transparent;
  border-top-color: #999;
}
.sh-global-nav-list .sh-global-nav-item ul {
  margin: 10px 0 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  list-style: none;
  z-index: 4;
}
.sh-global-nav-list .sh-global-nav-item ul li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
}
.sh-global-nav-list .sh-global-nav-item:hover ul {
  margin: 0;
  padding-top: 10px;
}
.sh-global-nav-list .sh-global-nav-item:hover ul li {
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 34px;
}
.sh-global-nav-list .sh-global-nav-item ul li a {
  background-color: #f0f0f0;
  display: block;
  line-height: 33px;
  border: 1px solid #dcdcdc;
}
.sh-global-nav-list .sh-global-nav-item ul li:last-child a {
  border-bottom: none;
}
.sh-global-nav-list .sh-global-nav-item ul li a:hover {
  background-color: #aaa;
}
/* トグルボタン */
.sh-mobile-head-toggle-button {
  position: absolute;
  height: 40px;
  width: 46px;
  left: 0;
  top: 0;
  z-index: 1;
}
.sh-mobile-head-toggle-button span {
  position: absolute;
  left: 10px;
  width: 26px;
  height: 2px;
  background-color: #111;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
font-size: 9px;
}
.sh-mobile-head-toggle-button span:first-child {
  top: 9px;
}
.sh-mobile-head-toggle-button span:nth-child(2) {
  top: 17px;
}
.sh-mobile-head-toggle-button span:nth-child(3) {
  top: 25px;
}
.sh-mobile-head-toggle-button.is-open span:first-child {
  animation: rotate-span1 .6s forwards;
}
.sh-mobile-head-toggle-button.is-open span:nth-child(2) {
  animation: rotate-span3 .6s forwards;
}
.sh-mobile-head-toggle-button.is-open span:nth-child(3) {
  animation: rotate-span3 .6s forwards;
    display: none;
}
@keyframes rotate-span1 {
  0% {top: 12px;width: 26px;transform:rotate(0deg);left:10px;}
  50% {top: 20px;width: 0px;left:23px;}
  100% {top: 20px;width: 26px;transform:rotate(315deg);left:10px;}
}
@keyframes rotate-span2 {
  0% {width: 26px;left: 10px;}
  50% {width: 0px;left:23px;}
  100% {width: 0px;left:23px;}
}
@keyframes rotate-span3 {
  0% {top: 28px; width: 26px;transform:rotate(0deg);left: 10px;}
  50% {top: 20px;width: 0px;left:23px;}
  100% {top: 20px;width: 26px;transform:rotate(-315deg);left:10px;}
}
/* サイト名 */
.sh-site-name {
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  opacity: 0;
  visibility:hidden;
}
.sh-site-name.is-show {
  opacity: 1;
  visibility:visible;
}
.sh-site-name p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #111;
}
.sh-site-name a {
  color: #111;
  text-decoration: none;
}
/* グローバルナビ検索ボックス */
.sh-global-nav-wrap .search-box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 1;
}
.sh-global-nav-wrap .sh-search-button {
  width: 46px;
  height: 40px;
  text-align: center;
}
.sh-global-nav-wrap .sh-search-button i {
  margin-top: 6px;
  font-size: 24px;
  color: #111;
}
.sh-global-nav-wrap .hatena-module-body {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0px 16px;
  height: 0;
  margin-top: 1px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: rgba(255,255,255,.8);
}
.sh-global-nav-wrap .hatena-module-body.is-open {
  height: auto;
  padding: 16px;
}
.sh-global-nav-wrap .hatena-module-body .search-module-input {
  width: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 4px;
  border-radius: 0;
  -webkit-appearance:none;
}
.sh-global-nav-wrap .hatena-module-body .search-module-button {
  margin: 10px 0 0 140px;
  width: 60px;
  height: 28px;
  border-radius: 0px;
  background-color: #eee;
  color: #111;
  border: 1px solid #999;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#container #container-inner {
  position: relative;
  left: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
  z-index: 1;
}
#container #container-inner.is-open {
  left: 250px;
}
.sh-mobile-head {
  display: none;
}
.sh-black-back {
  display: none;
}
@media (max-width: 767px) {
  .sh-global-nav-wrap {
    height: 0px;
  }
  .sh-global-nav {
    margin-bottom: 0;
    border-bottom: none;
    position: fixed;
    width: 230px;
    height: 100%;
    top: 0;
    left: -250px;
    overflow-y: auto;
    -webkit-transition: all .6s;
    transition: all .6s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding-top: 40px;
  }
  .sh-global-nav.is-open {
    left: 0;
  }
  .sh-global-nav-list {
    padding: 0;
    text-align: left;
  }
  .sh-global-nav-list .sh-global-nav-item a {
    padding: 0 12px;
  }
  .sh-global-nav-list .sh-global-nav-item {
    height: 38px;
    width: 100%;
    padding: 0;
    border-right: none;
  }
  .sh-global-nav-list .sh-global-nav-item.has-child {
    height: auto;
  }
  .sh-global-nav-list .sh-global-nav-item.has-child::after {
    display: none;
  }
  .sh-global-nav-list .sh-global-nav-item > a {
    display: block;
    line-height: 38px;
    font-weight: bold;
    background-color: #eee;
    color: #111;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .sh-global-nav-list .sh-global-nav-item > a:hover {
    background-color: #999;
  }
  .sh-global-nav-list .sh-global-nav-item a:after {
    display: none;
  }
  /* 子カテゴリー */
  .sh-global-nav-list .sh-global-nav-item ul {
    padding: 0;
    position: static;
    margin: 0;
  }
  .sh-global-nav-list .sh-global-nav-item:hover ul {
    padding-top: 0;
  }
  .sh-global-nav-list .sh-global-nav-item ul li {
    height: 36px;
  }
  .sh-global-nav-list .sh-global-nav-item:hover ul li {
    height: 36px;
  }
  .sh-global-nav-list .sh-global-nav-item ul li a {
    background-color: #fff;
    font-size: 0.9rem;
    line-height: 36px;
    border: none;
  }
  .sh-global-nav-list .sh-global-nav-item ul li a::before {
    font-family: "blogicon";
    content: "\f006";
    font-size: 0.7rem;
    color: #aaa;
    margin-right: 10px;
  }
  .sh-mobile-head {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 80;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .sh-mobile-head.is-open {
    left: 230px;
  }
  .sh-black-back {
    position: fixed;
    left: 0;
    top: 40px;
    display: block;
    width: 0;
    height: 100%;
    -webkit-transition: all .6s;
    transition: all .6s;
    background-color: #000;
    opacity: 0.6;
    z-index: 2000;
  }
  .sh-black-back.is-open {
    display: block;
    width: 100%;
    left: 230px;
  }
}

/* フォローボタン */
.sh-follow-btn-small {
  text-align: center;
}
.sh-follow-btn-small a {
  display: inline-block;
  color: #111;
}
.sh-follow-btn-small i,
.sh-follow-btn-small i.lg {
  font-size: 30px;
  margin-right: 12px;
}
/* シェアボタン */
.sh-share-area,
.sh-share-fixed-bottom {
  width: 60%;
  position: relative;
  background-color: #fff;
  padding : 4px 0;
  margin: 20px auto;
  z-index: 1;
}
.sh-share-text {
  font-size: 0.9rem;
  margin-bottom: 6px;
  text-align: center;
  color: #666;
}
.sh-share-list {
  list-style: none;
  font-size: 0px;
  letter-spacing: 0px;
  padding: 0;
  margin: 0;
}
.sh-share-item {
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  width: 25%;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sh-share-item:last-child {
  border-right: none;
}
.sh-share-item a {
  height: 36px;
  line-height: 36px;
  display: block;
  color: #666;
}
.sh-share-item a:hover {
  opacity: .6;
}
.sh-share-item .sh-share-count {
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: 8px;
  display: block;
  min-width: 14px;
  padding: 0 2px;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
  font-size: .6rem;
  color: #fff;
  background-color: #999;
}

@media (max-width: 767px) {
  .sh-share-area {
    width: 100%;
  }
  .sh-share-fixed-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5000;
    background-color: #fff;
    border-top: 1px solid #eee;
    margin: 0;
    padding : 4px 0;
  }
  .sh-share-fixed-bottom .sh-share-text {
    display: none;
  }
  .sh-share-fixed-bottom .sh-share-item {
    font-size: 22px;
  }
  .sh-share-item .sh-share-count {
    margin-left: 6px;
  }
}
/* 画像を横幅いっぱい */
@media screen and (max-width: 480px) {
  .sh-wide img {
    max-width: initial;
    width: 100vw;
    margin-left: calc(0vw - 10px);
  }
}

/*はてなニックネーム下線なし*/
.hatena-id-link,.comment-user-id{
    text-decoration:none;
}

/*HTMLサイドバーフォローボタン*/
#profile-follow {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    font-size: 0;
    margin-bottom: 20px;
}
.profile-hatena {
    border-right: 1px solid #dcdcdc;
    padding: 15px 0 13px;
    font-size: 15px;
    display: inline-block;
    width: calc(33%);
    text-align: center;
}

.profile-hatena::before {
    margin: -5px 0 0;
    font-size: 25px;
    content: "\f000";
    display: inline-block;
    font-family: blogicon;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 7px;
}
.profile-twitter {
    padding: 15px 0 13px;
    border-right: 1px solid #dcdcdc;
    font-size: 15px;
    display: inline-block;
    width: calc(33%);
    text-align: center;
}
.profile-twitter::before {
    margin: -5px 0 0;
    font-size: 25px;
    content: "\f035";
    display: inline-block;
    font-family: blogicon;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 7px;
}
.profile-feedly {
    padding: 15px 0 13px;
    font-size: 15px;
    display: inline-block;
    width: calc(32.5%);
    text-align: center;
}
.profile-feedly::before {
    margin: -5px 0 0;
    font-size: 25px;
    content: "\f04e";
    display: inline-block;
    font-family: blogicon;
    font-style: normal;
    font-weight: normal;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 7px;
}
#profile-follow a {
    color: #454545;
}

.profile-hatena:hover,.profile-twitter:hover,.profile-feedly:hover{
    color: #977d3b;
}

/* 幅が狭いときの記事一覧のサムネイルサイズ */
@media screen and (max-width: 767px){
  .page-archive .entry-thumb {
    width: 130px;
    height: 130px;
}
}
@media screen and (max-width: 478px){
  .page-archive .entry-thumb {
    width: 100px;
    height: 100px;
}
}

/*boxデザイン*/
.boxqt {
    position: relative;
    padding: 1.5em 1em;
    margin: 1.5em 0;
    box-sizing: border-box;
    border:1px solid #dcdcdc
}
.boxqt:before{
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 9px;
    width: 40px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    content: "\f10d";
    font-family: FontAwesome;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    background: #ccc;
}
.boxqt:after{
    position: absolute;
    content: '';
    top: -8px;
    left: 49px;
    border: none;
    border-bottom: solid 8px #aaa;
    border-right: solid 9px transparent;
}
.boxqt p {
    margin: 0; 
    padding: 0;
}

/*BOXピンク*/
.boxpk {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2px #f38181;
    border-radius: 5px;
}
.boxpk .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #f38181;
    font-weight: bold;
}
.boxpk p {
    margin: 0; 
    padding: 0;
}


/*BOXブラック*/
.boxbk {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2px #393e46;
    border-radius: 5px;
}
.boxbk .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #393e46;
    font-weight: bold;
}
.boxbk p {
    margin: 0; 
    padding: 0;
}
/*スタイリッシュ引用BOX*/
.boxst {
    position: relative;
    padding: 10px 10px 10px 32px;
    margin: 1em 0;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    border: solid 1px #3d3f44;
}

.boxst:before{
display: inline-block;
position: absolute;
top: 0;
left: 0;
vertical-align: middle;
content: "\f10d";
font-family: FontAwesome;
color: #fff;
font-size: 20px;
line-height: 1;
z-index: 2;
}
.boxst:after{
position: absolute;
content: '';
left: 0;
top: 0;
border-width: 0 0 40px 40px;
border-style: solid;
border-color: transparent#454545;
}
.boxst p {
position: relative;
padding: 0;
margin: 10px 0;
z-index: 3;
line-height: 1.7;
}
.boxst cite {
display: block;
text-align: right;
color: #888888;
font-size: 0.9em;
} 

/*BOXブラック囲み枠*/
.boxbk4 {
    margin: 2em 0;
    padding: 1.5em 1em;
    border: solid 2px #000;
    font-weight: bold;
}

.boxbk4 p {
    margin: 0; 
    padding: 0;
}

/*BOXブラック上下2線*/
.boxbk2 {
    margin: 2em 0;
    padding: 1.5em 1em;
    border-top: solid 3px #292f33;
    border-bottom: solid 3px #292f33;
    background: #f5f8fa;
    color: #2c2c2f;
}
.boxbk2 p {
    margin: 0; 
    padding: 0;
}
/*BOXグラデーション*/
.boxgd {
    margin: 2em 0;
    padding: 1.3em;
    background: linear-gradient(to left, #92d2f8, #c4baff);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .13);
    color: #fff;
    font-weight: bold;
}
.boxgd p {
    margin: 0; 
    padding: 0;
}
/*BOXブラック*/
.boxti .box-title {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 25px;
    padding: 0 9px;
    background: #15adc1;
    color: #fff;
    font-size: 17px;
    vertical-align: middle;
    line-height: 25px;
}
/*BOXタイトルイン*/
.boxti {
    position: relative;
    margin: 2em 0;
    padding: 30px 15px 15px;
    border: solid 2px #15adc1;
}
.boxti p {
    margin: 0; 
    padding: 0;
}
/*BOXタイトルライン型*/
.boxtl {
    margin: 2em 0;
    padding: 0 15px 10px;
    background: #eaedf2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}
.boxtl .box-title{
    margin: -15px -15px 15px;
    padding: 4px;
    background: #69b8d7;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
.boxtl p {
    margin: 0; 
    padding: 0;
}

/*あわせて読みたいCSS*/
/*---relation---*/
.entry-content .margin-clear {
	margin: 0;
}
 
.entry-content .relation-head {
	display: inline-block;
	padding: 5px 10px 2px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
	background-color: #ea4747;
	color: #fff;
	border-radius: 4px 4px 0 0;
}
 
.entry-content .relation-link {
	display: block;
	height: auto;
	color: #1464b3;
	text-decoration: underline;
	border: solid 2px #ea4747;
	background-color: rgba(255,254,242,0.5);
	border-radius: 0 4px 4px 4px;
	padding: 20px;
	margin: 0 auto 20px;
	font-size: 18px;
}
 
.entry-content .relation-link:before {
	content: "\f0a9";
	padding-right: 10px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	animation: horizontal 3s ease infinite;
	-webkit-animation: horizontal 3s ease infinite;
}

/* バルーン*/
.balloon1 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 0 5px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    background: #70a6ff;
    border-radius: 50%;
    box-sizing: border-box;
}

/* ボタン*/
.btnbasic {
    margin: .5em .5em .5em 0;
    text-decoration: none;
}
.flatbtn2 {
 display: inline-block;
 padding: .3em 1em;
 border: solid 2px #67c5ff;
 border-radius: 3px;
 color: #67c5ff;
}

.flatbtn2:hover {
 background: #67c5ff;
 color: white;
}

/*  import media queries */
/* Media Queries - Retina Display */
@media (-webkit-min-device-pixel-ratio: 2) {
  .hatena-module-search-box .search-module-button {
    background: transparent url(https://blog.hatena.ne.jp/images/theme/search@2x.png) no-repeat right center;
    background-size: 20px 20px;
  }
}
/* Media Queries - Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

}
/* Media Queries - Small Tablet & Smartphone */
@media (max-width: 767px) {

}
/* Media Queries - Smartphone */